import { StyleSheet } from 'react-native';



const styles = StyleSheet.create({
  container: {
    flex: 1,
    backgroundColor: '#fff',
    alignItems: 'center',
    justifyContent: 'center',
  },
  caixaTexto: {
    fontSize: 25,
    color: 'blue',
    width: 300,
    borderRadius: 10,
    marginBottom: 20,
    borderWidth: 1,
    paddingHorizontal: 20,
    height: 40,
  },
  legenda: {
    fontSize: 20,
    color: 'black',
    marginBottom: 15,
  },
  userItem: {
    marginVertical: 10,
    padding: 10,
    borderWidth: 1,
    borderColor: 'gray',
    borderRadius: 5,
  },
  scrollContainer: {
    flexGrow: 1,
    alignItems: 'center',
    justifyContent: 'center',
  },
  botao: {
    margin: 16,
  },
});

export default styles;